<html>
  <head>
    <title>Teacher Console</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" type="text/css" media ="screen"/>
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" type="text/css" media ="screen"/>
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}" type="text/javascript"></script>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="header">
          <h1>Welcome!</h1>
          <a class="main-nav" href="/"><i class="icon-home"></i> Home</a>
        </div>
        <!-- Search -->
        <div class="span4 section search">
          <h3><i class="icon-search"></i> Search</h3>
          <form action="/get_student">
            <label for="github">Search student by github ID</label>
            <div class="input-append">
              <input type="text" placeholder="Github ID" name="github" class="input-large" />
              <button type="submit" class="btn">Go</button>
            </div>
          </form>
          <form action="/get_project">
            <label for="project_title">Search project by title</label>
            <div class="input-append">
              <input type="text" placeholder="Project Title" name="project_title" />
              <button type="submit" class="btn">Go</button>
            </div>
          </form>
        </div>

        <!-- Add New Student-->
        <div class="span4 section add">
          <h3><i class="icon-user"></i> Add Student</h3>
          <form action="/add_student">
            <label for="first_name">First Name</label>
            <input type="text" placeholder="First Name" name="first_name" />

            <label for="last_name">Last Name</label>
            <input type="text" placeholder="Last Name" name="last_name" />

            <label for="github">Github</label>
            <input type="text" placeholder="Github" name="github" />

            <br />
            <button type="submit" class="btn"><i class="icon-plus"></i> Add Student</button>
          </form>
        </div>
          
        <!-- Add Project-->
        <div class="span4 section add">
          <h3><i class="icon-folder-open"></i> Add Project</h3>
          <form action="/add_project">
            <label for="project_title">Project Title</label>
            <input type="text" placeholder="Title" name="project" />

            <label>Project Description</label>
            <input type="text" placeholder="Description" name="desc" />

            <label>Max Grade</label>
            <input type="text" placeholder="Max Grade" name="max_grade"/>

            <br />
            <button type="submit" class="btn"><i class="icon-plus"></i> Add Project</button>
          </form>
        </div>
      </div>


      <!-- Navigation -->
      <ul class="nav nav-pills">
        <li class="{{active_students}}">
          <a href="/all_students">All Students</a>
        </li>
        <li class="{{active_projects}}"><a href="/all_projects">All Projects</a></li>
      </ul>

      <!-- Show All Section -->
      <div class="section show-all">
     <!--   <h3><a href="/all_students">All Students</a></h3> <!-- make view panel -->

        {% if all_students%}
        <div class="sub-section">
          <table class="table table-striped table-bordered">
            <thead>
              <tr>
                <th>#</th>
                <th>Github</th>
                <th>First Name</th>
                <th>Last Name</th>
              </tr>
            </thead>
            {% set count=1 %}
            {%for student in students%}
            <tr>
              <td>{{count}}</td>
              <td><a href="/get_student?github={{student[2]}}"> {{student[2]}}</a></td>
              <td>{{student[1]}}</td>
              <td>{{student[2]}}</td>
            </tr>
            {% set count = count + 1 %}
            {%endfor%}
          </table>
        </div>
        {%endif%}

     <!--   <h3><a href="/all_projects">All Projects</a></h3> -->

        {% if all_projects%}
        <div class="students">
          <table class="table table-striped table-bordered">
            <thead>
              <th>#</th>
              <th>Project Title</th>
              <th>Description</th>
              <th>Max Grade</th>
            </thead>
            {% set count=1 %}
            {%for project in projects%}
            <tr>
              <td>{{count}}</td>
              <td><a href="/get_project?project_title={{project[0]}}"> {{project[0]}} </a></td>
              <td>{{project[1]}}</td>
              <td>{{project[2]}}</td>
            </tr>
            {% set count = count + 1 %}
            {%endfor%}
          </table>
        </div>
        {%endif%}

      </div>  
      
      {% if view_project %}
      <div class="projects">
        <h3>{{title}}</h3>
        <p>{{description}}</p>
        <span>Max Grade: {{max_grade}}</span>
      </div>
      {% endif %}

    </div>
  </body>
</html>