<html>
	 <head>
    <title>Student Info</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" type="text/css" media ="screen"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" type="text/css" media ="screen"/>
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}" type="text/javascript"></script>
  </head>
	<body>
		<div class="container">
			<div class="row">
				<span class="span8 offset2">
					<h1 class="header">{{first_name}} {{last_name}}</h1>
				</span>

				<div class="span4 offset2 section add">
					<h3>Github: <span class="upper">{{github}}</span></h3>
					<ul>
					{% for grade in grades %}
						<li class="bold"><a href="/get_grades?project_title={{grade[0]}}">{{grade[0]}}: {{grade[1]}} </a></li>
					{% endfor %}
					</ul>
				</div>   

			<!--Add New Project Grade -->
				<div class="span4 section add">
				    <h3> Add new project grade:</h3>
				    <form action="/add_grade?github={{github}}">
				      <label>Project Title</label>
				      <input type="text" name="project" />

				      <label>Grade</label>
				      <input type="text" name="grade" />

				      <input type=hidden name="github" value={{github}} />
				      <input type="submit">
				    </form>
			  </div>
	  	</div>
	</body>
</html>